[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AssumpSure"]
	path = AssumpSure
	url = https://github.com/ahmedbargheet/assumpsure
